In [128]:
import pandas as pd
from string import printable

In [129]:
df1 = pd.read_csv('title.basics.tsv', sep='\t')

/Users/smita/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [130]:
df2 = pd.read_csv('title.ratings.tsv', sep='\t')

In [131]:
df = pd.merge(df1, df2, on='tconst')

In [136]:
df.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.6,1696
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.0,210
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1448
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",6.1,122
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.1,2245
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short,5.2,124
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport",5.4,687
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short",5.4,1872
8,tt0000009,short,Miss Jerry,Miss Jerry,0,1894,\N,40,"Romance,Short",6.0,155
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short",6.9,6288

In [135]:
#df3=pd.read_csv('movie.tsv', sep = '\t')

In [137]:
# Check for null values in each column and remove the null row
print(df.isnull().sum())

tconst            0
titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            2
averageRating     0
numVotes          0
dtype: int64

In [138]:
print(df.isnull().sum().sum()) #Sum of all null values

2

In [139]:
df = df.dropna(how='any',axis=0) #Remove all null values

In [140]:
df['primaryTitle'] = df['primaryTitle'].str.replace('\W', ' ')

<ipython-input-140-ee874a883564>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['primaryTitle'] = df['primaryTitle'].str.replace('\W', ' ')

In [141]:
df['originalTitle'] = df['originalTitle'].str.replace('\W', ' ')

<ipython-input-141-74f3246ff0a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['originalTitle'] = df['originalTitle'].str.replace('\W', ' ')

In [29]:
#df3.replace(regex=True, to_replace =['¢','€','£', 'Ã', '¬', 'Ð', '±','½','©','•','¾', '§', '¥', '«', '¤', '–', 'œ', '¡', '”', '|', 'â', '™', 'Â', 'Î', '¿', 'µ', '´', '‡','»', 'Ž', '®', 'º', 'Ï', 'ƒ', '¶', '¹', '┬', 'á', 'Γ', 'Ç', 'Ö'], value='', inplace=True)

In [162]:
df.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes'],
      dtype='object')

In [163]:
df4 = df[['tconst', 'isAdult','startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating','numVotes']]

In [164]:
df5 = df3[['tconst','primaryTitle', 'originalTitle']]

In [165]:
df5 = df5.applymap(str) #Convert the dataframe into string

In [167]:
df5=df5.applymap(lambda y: ''.join(filter(lambda x: x in printable, y))) #Splitting dataframes was necessary as applymap will not work on int datatype

In [168]:
df5['primaryTitle'] = df5['primaryTitle'].str.replace('\W', '') #Remove printable special characters

In [169]:
df5['originalTitle'] = df5['originalTitle'].str.replace('\W', '') #Remove printable special characters

In [170]:
df6 = pd.merge(df4, df5, on='tconst')

In [171]:
df6.head(26)

,tconst,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,primaryTitle,originalTitle
0,tt0000001,0,1894,\N,1,"Documentary,Short",5.6,1696,Carmencita,Carmencita
1,tt0000002,0,1892,\N,5,"Animation,Short",6.0,210,Leclownetseschiens,Leclownetseschiens
2,tt0000003,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1448,PauvrePierrot,PauvrePierrot
3,tt0000004,0,1892,\N,12,"Animation,Short",6.1,122,Unbonbock,Unbonbock
4,tt0000005,0,1893,\N,1,"Comedy,Short",6.1,2245,BlacksmithScene,BlacksmithScene
5,tt0000006,0,1894,\N,1,Short,5.2,124,ChineseOpiumDen,ChineseOpiumDen
6,tt0000007,0,1894,\N,1,"Short,Sport",5.4,687,CorbettandCourtneyBeforetheKinetograph,CorbettandCourtneyBeforetheKinetograph
7,tt0000008,0,1894,\N,1,"Documentary,Short",5.4,1872,EdisonKinetoscopicRecordofaSneeze,EdisonKinetoscopicRecordofaSneeze
8,tt0000009,0,1894,\N,40,"Romance,Short",6.0,155,MissJerry,MissJerry
9,tt0000010,0,1895,\N,1,"Documentary,Short",6.9,6288,LeavingtheFactory,LasortiedelusineLumireLyon
10,tt0000011,0,1895,\N,1,"Documentary,Short",5.2,280,AkrobatischesPotpourri,AkrobatischesPotpourri
11,tt0000012,0,1896,\N,1,"Documentary,Short",7.4,10799,TheArrivalofaTrain,LarriveduntrainLaCiotat
12,tt0000013,0,1895,\N,1,"Documentary,Short",5.7,1622,ThePhotographicalCongressArrivesinLyon,NeuvillesurSaneDbarquementducongrsdesphotograp...
13,tt0000014,0,1895,\N,1,"Comedy,Short",7.1,4808,TheWatererWatered,Larroseurarros
14,tt0000015,0,1894,\N,2,"Animation,Short",6.1,874,Autourdunecabine,Autourdunecabine
15,tt0000016,0,1895,\N,1,"Documentary,Short",5.9,1247,Barquesortantduport,Barquesortantduport
16,tt0000017,0,1895,\N,1,"Documentary,Short",4.6,254,ItalienischerBauerntanz,ItalienischerBauerntanz
17,tt0000018,0,1895,\N,1,Short,5.3,502,DasboxendeKnguruh,DasboxendeKnguruh
18,tt0000019,0,1898,\N,\N,"Comedy,Short",5.3,19,TheClownBarber,TheClownBarber
19,tt0000020,0,1895,\N,1,"Documentary,Short,Sport",5.0,281,TheDerby1895,TheDerby1895
20,tt0000022,0,1895,\N,1,"Documentary,Short",5.1,926,BlacksmithScene,Lesforgerons
21,tt0000023,0,1895,\N,1,"Documentary,Short",5.7,1191,TheSea,Baignadeenmer
22,tt0000024,0,1895,\N,\N,"News,Short",4.4,60,OpeningoftheKielCanal,OpeningoftheKielCanal
23,tt0000025,0,1895,\N,\N,"News,Short,Sport",4.2,29,TheOxfordandCambridgeUniversityBoatRace,TheOxfordandCambridgeUniversityBoatRace
24,tt0000026,0,1896,\N,1,"Documentary,Short",5.6,1346,TheMessersLumireatCards,Partiedcart
25,tt0000027,0,1895,\N,1,"Documentary,Short",5.6,959,CordeliersSquareinLyon,PlacedesCordeliersLyon

In [172]:
df6.columns

Index(['tconst', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres',
       'averageRating', 'numVotes', 'primaryTitle', 'originalTitle'],
      dtype='object')

In [173]:
df6.to_csv('movie_cleaned_data.tsv', sep = '\t', index=False)